p {
  padding: 0px;
  margin: 0px;
}

.line {
  width: 100%;
  position: absolute;
}
.loginLine {
  width: 100%;
  position: absolute;
}
.loginBottomLine {
  width: 100%;
  position: absolute;
  bottom: -10px;
}
.html {
  width: 70%;
  position: relative;
  margin: auto;
}

.header {
  width: 100%;
  position: relative;
  float: left;
  margin-bottom: 20px;
  top: 0px;
}
.body {
  width: 100%;
  position: relative;
  float: left;
  margin-bottom: 20px;
}
.root {
  width: 100%;
  position: relative;
  float: left;
  padding-bottom: 10px;
  bottom: 0px;
}
.interval {
  margin-top: 20px;
}
.searchField, .RWDsearchField {
  width: 350px;
  margin: 20px 0px 20px 0px;
  position: relative;
  float: right;
}
.menu {
  width: 100%;
  position: absolute;
  float: left;
}
.menu ul {
  padding: 0px;
  margin: 0px;
}
.logoArea {
  width: 100%;
  position: relative;
  float: left;
  margin-top: 48px;
}
.itemType {
  width: 100%;
  position: relative;
  float: left;
}
.itemType ul {
  padding: 0px;
  margin: 0px;
}
.itemType li {
  margin: 0.25%;
}

.left {
  width: 20%;
  position: relative;
  float: left;
}
.center {
  width: 58%;
  position: relative;
  float: left;
  padding: 1%;

}
.right {
  width: 20%;
  position: relative;
  float: left;
}

.headerLogo {
  width: 20%;
  position: relative;
  float: left;
}
.headerNear {
  width: 80%;
  position: relative;
  float: left;
}
.footLogo {
  width: 20%;
  position: relative;
  float: left;
}
.features {
  width: 80%;
  position: relative;
  float: left;
}
.Column {
  width: 96%;
  position: relative;
  float: left;
  padding: 1%;
}

.centerColumn {
  width: 100%;
  position: relative;
  float: left;
  margin: 10px 0px 10px 0px;
}

.slider {
  width: 100%;
  position: relative;
  float: left;
}
.intro {
  width: 100%;
  position: relative;
  float: center;
}

.link {
  width: 100%;
  position: relative;
  float: left;
}
.link ul {
  padding: 0px;
}
.RWDlink {
  width: 100%;
  position: relative;
  float: left;
}
.RWDlink ul {
  padding: 0px;
  margin: -10px auto 10px auto;
}
.ourInfo {
  width: 100%;
  position: relative;
  float: left;
}

.title {
  width: 100%;
  position: relative;
  float: left;
}
.cot {
  width: 100%;
  position: relative;
  float: left;
}

.subject {
  width: 80%;
  position: relative;
  float: left;
}
.more {
  width: auto;
  position: relative;
  float: right;
  margin: 6px;
}
.item {
  width: 100%;
  position: relative;
  float: left;
}
.centerItem, .centerItemE {
  width: 33.333%;
  margin: 10px 0px 10px 0px;
  position: relative;
  float: left;
}
.keyword {
  padding: 0px 0px 0px 20px;
}
.memberService {
  padding: 0px 0px 0px 20px;
  margin: 0px;
}
.submit {
  text-align: center;
  margin-bottom: 50px;
}
.centerItem img, .centerItemE img {
  width: 80%;
}
.item img {
  width: 80%;
}
.loginImg img {
  width: 95%;
}
.modify {
  width: 75%;
  position: relative;
  float: left;
  margin-left: 2%;
}

.login, .loginWidth {
  width: 70%;
  position: relative;
  margin: auto;
}
.loginHead {
  width: 100%;
  position: relative;
  float: left;
}
.loginBody {
  width: 100%;
  position: relative;
  float: left;
}
.loginRoot {
  width: 100%;
  bottom: 0px;
  position: fixed;
}
.loginImg {
  width: 30%;
  margin: 0% 0% 3% 10%;
  position: relative;
  float: left;
}
.register {
  width: 55%;
  padding: 0% 2% 0% 3%;
  position: relative;
  float: left;
}
.sort {
  padding: 0px 0px 0px 20px;
  margin: 0px;
}
.sort>li {
  padding: 0px;
  margin: 0px 0px 20px 0px;
}
.type {
  padding: 0px 0px 0px 20px;
  margin: 0px;
}
.type>li {
  padding: 0px;
  margin: 0px;
}
.bookName {
  width: 98%;
  font-weight: bold;
  position: relative;
  float: left;
  padding-left: 10px;
}
.remarks {
  margin: 10px 0px 10px 0px;
}
.fieldName {
  margin: 20px 0px 20px 0px;
  padding-left: 5px;
}
.fieldCot {
  width: 95%;
  position: relative;
  float: left;
  padding: 0% 2.5% 0% 2.5%;
}
.remarks, .bookCot, .IntField, .fieldName, .bookImg img {
  width: 100%;
  position: relative;
  float: left;
}
.bookImg {
  width: 33.333%;
  position: relative;
  float: left;
}

.bookData {
  width: 66.666%;
  position: relative;
  float: left;
}

.bookInfo, .bookPrice {
  width: 95%;
  position: relative;
  float: left;
  margin: 0px;
  padding: 2.5%;
}

.memberRoot {
  width: 100%;
  position: relative;
  float: left;
}
.loginField {
  position: fixed;
  top: 30px;
  right: 15%;
}
