body {
  background-color: #f8f9ff;
}
.line {
  height: 5px;
  background-color: #3f99ff;
}
.loginLine {
  height: 85px;
  background-color: #3f99ff;
}
.loginBottomLine {
  height: 120px;
  background-color: #3f99ff;
}
.menu {
  z-index: 1;
}
.menuItem1 {
  position: absolute;
  overflow: hidden;
  cursor: pointer;
  height: 24px;
  background-color: #f8f9ff;
  border-left: 2px #3f99ff solid;
  border-bottom: 2px #3f99ff solid;
  border-right:  1px #3f99ff solid;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 0px;
  transition: 0.3s;
}
.menuItem2 {
  overflow: hidden;
  height: 24px;
  cursor: pointer;
  background-color: #f8f9ff;
  border-left: 1px #3f99ff solid;
  border-bottom: 2px #3f99ff solid;
  border-right:  1px #3f99ff solid;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  transition: 0.3s;
}
.menuItem3 {
  overflow: hidden;
  height: 24px;
  cursor: pointer;
  background-color: #f8f9ff;
  border-left: 1px #3f99ff solid;
  border-bottom: 2px #3f99ff solid;
  border-right:  2px #3f99ff solid;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 10px;
  transition: 0.3s;
}

.menu li {
  width: 19.5%;
  line-height: 24px;
  color: #555555;
  position: relative;
  float: left;
  list-style-type: none;
  text-align: center;
}
.header {
  display: block;
}
.RWDmenu {
  display: none;
}
.headerLogo {
  font-family: 'Bad Script', cursive;
  font-size: 48px;
  text-align: center;
}
.home:link, .home:visited {
  color: #000;
  text-decoration: none;
}
.menuLink:link, .menuLink:visited {
  color: #555;
  text-decoration: none;
  transition: 0.3s;
}
.rootLink:link, .rootLink:visited {
  color: #FFF;
  text-decoration: none;
}
.keyword {
  color: #000;
  text-align: left;
  line-height: 26px;
  transition: 0.3s;
}
.keyword a:link, .keyword a:visited {
  color: #333;
  text-decoration: none;
}
.memberService {
  color: #000;
  text-align: left;
  line-height: 34px;
  transition: 0.3s;
}
.memberService li{
  width: 85%;
  list-style-type: none;
  border-bottom: 1px #777 dashed;
  cursor: pointer;
}
.memberService a:link, .memberService a:visited {
  color: #333;
  text-decoration: none;
}
.footLogo {
  font-family: 'Bad Script', cursive;
  font-size: 48px;
  text-align: center;
}
.root, .memberRoot {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: #3f99ff;
  color: #FFF;
}
.loginRoot {
  background: #3f99ff;
  color: #FFF;
}
.headerNear {
  text-align: right;
  line-height: 90px;
}

.itemType li {
  width: 12%;
  font-size: 14px;
  line-height: 20px;
  background: linear-gradient(#cee2ff,#f8fbff,#FFF,#3f99ff);
  border-radius: 3px;
  color: #555555;
  position: relative;
  float: left;
  list-style-type: none;
  text-align: center;
  cursor: pointer;
}
.itemType ul {
  display: block;
  height: 20px;
  border-bottom: 5px #3f99ff solid;
  border-radius: 10px;
}
.item {
  cursor: pointer;
}
.subject {
  text-align: left;
}

.Column {
  text-align: center;
  background: linear-gradient(#3f99ff,#cae3ff,#f8f9ff);
  border-radius: 10px;
}
.Column p {
  margin: 10px 0px 10px 0px;
  border-left: 3px #0069df solid;
  font-weight: bold;
}
.more {
  text-align: right;
  cursor: pointer;
}
.moreHover {
  cursor: pointer;
  border-bottom: 1px #0159bc dotted;
  font-size: 16px;
  line-height: 20px;
  color: #0159bc;
}
.title {
  font-size: 22px;
  border-bottom: 2px #3f99ff solid;
}
.title p{
  border-left: 3px #0069df solid;
  padding: 3px;
}
.subject p {
  color: #df7e00;
  font-weight: bold;
}
.centerColumn {
  text-align: center;
  border-bottom: 2px #cee2ff dotted;
}
.centerItem, .centerItemE {
  cursor: pointer;
  display: block;
}
.intro {
  color: #555555;
  line-height: 24px;
}
.footLogo {
  line-height: 100px;
}
.features {
  font-size: 14px;
}
.link li {
  width: 25%;
  line-height: 24px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: relative;
  float: left;
  list-style-type: none;
  text-align: center;
  cursor: pointer;
}
.link ul {
  width: 85%;
  display: block;
  height: 24px;
  border-bottom: 2px #0069df solid;
}
.RWDsearchField {
  display: none;
}
.RWDlink {
  display: none;
}
.RWDlink li {
  width: 33.333%;
  line-height: 24px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: relative;
  float: left;
  list-style-type: none;
  text-align: center;
  cursor: pointer;
}
.RWDlink ul {
  width: 85%;
  display: block;
  height: 24px;
  border-bottom: 2px #0069df solid;
}
.modify {
  border: 1px #ddd solid;
}

.modify h3, .register h3 {
  border-bottom: 1px #AAA solid;
  text-align: center;
}

.modify li, .register li {
  width: 100%;
  line-height: 2em;
  position: relative;
  float: left;
  list-style-type: none;
}
.loginImg {
  text-align: center;
}

.dottedEffect {
  opacity: 0;
  transition: 0.3s;
}
.sort>li, .type>li {
  color: #333;
  text-align: left;
  line-height: 24px;
  cursor: pointer;
}
.sort>li {
  list-style-type: none;
}
.type {
  font-weight: normal;
}
.bookName {
  font-size: 32px;
  border-left: 5px #00F solid;
  background: #d3e6fb;
}
.remarks, .subRemarks {
  color: #555;
  font-size: 12px;
}
.bookInfo {
  border-bottom: 1px #555 dotted;
  transition: 0.3s;
}
.bookPrice {
  transition: 0.3s;
}
.discount {
  font-size: 18px;
  color: #df7e00;
}
.discounted {
  font-size: 22px;
  color: #df7e00;
}
.fieldName {
  font-size: 18px;
  border-left: 5px #00F solid;
  background: #d3e6fb;
}
.fieldCot {
  font-size: 14px;
  line-height: 24px;
  text-align: justify;
}
.subtitle {
  font-weight: bold;
}
.loginField {
  color: #FFF;
}
